@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


:root {
    --primary-color: rgba(52, 12, 126, 0.72);
    --background-color: rgb(247, 248, 250);
    --background-color-darker: rgb(207, 207, 207);
    --text-color: rgb(0, 0, 0);
    --text-color-dark: rgb(0, 0, 0);

    --flair-color: rgb(30, 212, 155);
    --flair-color-dark: rgb(41, 132, 103);

    /* Sizes */
    --gap: 0.5rem;
    --gap2x: calc(var(--gap) * 2);
    --indent: 1rem;
}

html,
body {
    position: fixed;
    margin: 0;
    padding: 2rem;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e d";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 4rem;
    row-gap: var(--gap2x);
    
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

[class*="devicon-"] {
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

section.me-card {

    grid-area: a;
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--gap2x);
    line-height: 1;
    text-wrap-mode: nowrap;
    span.avatar {
        display: block;
        background-image: var(--avatar-url);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        grid-row: span 3;
        grid-column: 1;
        place-self: center;
        border: 1px solid black;
    }

    h1 {
        vertical-align: bottom;
        font-size: 2.5rem;
        margin: 0;
        grid-column: 2;
        grid-row: 1;
    }

    h2 {
        font-size: 1.25rem;
        margin: 0;
        grid-column: 2;
        grid-row: 2;
    }

    nav.socials {
        display: flex;
        grid-column: 2;
        grid-row: 3;
        gap: var(--gap);
        align-items: center;
        vertical-align: middle;
        margin-top: 0.5rem;
        

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;

            & > .material-symbols-outlined {
                font-size: 2.3rem;
                font-weight: 600;
                color: var(--primary-color);
            }

            &:hover {
                filter: brightness(0.8);
                transition: all 0.2s;
                transform: scale(1.1);
            }
        }
    }
}

.sidebar {
    grid-area: c;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: var(--gap);
    padding: 0.5rem;
    scrollbar-width: none;
}

table.skills-table {
    
    width: 100%;

    border-collapse: collapse;

    thead {
        display: none;
    }

    tbody {
        tr {
            align-items: center;
        }

        td {
            flex: 1;
            padding: 0.25rem;
            align-items: center;
        }

        td:nth-child(2) {
            font-family: "Source Code Pro", monospace;
        }
    }

    progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-webkit-progress-bar {
            background-color: var(--background-color-darker);
            border-radius: 6px;
        }

        &::-webkit-progress-value {
            background-color: var(--primary-color);
            border-radius: 6px;
        }
    }
}

.contact-panel {
    grid-area: e;
    flex-direction: column;
    text-wrap-mode: wrap;
}


header {
    grid-area: b;
    background-color: var(--primary-color);
    
    div.locales-container {
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        padding: 0.5rem;

        img {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

[hidden] {
    display: none;
}


main {
    grid-area: d;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 4rem;
    overflow-y: auto;
    font-family: "Source Sans 3", sans-serif;

    p {
        line-height: 1.6;
        padding: 16px;
        margin: 0;
    }
}

section.about-me {
    grid-column: span 2;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 0;
    }

    p {
        padding: 16px;
    }
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

p {
    line-height: 1.6;
}

.project-showcase {
    display: grid;
    grid-column: span 2;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(auto-fill);
    flex-direction: column;
}

.project-card {
    display: grid;
    grid-column: span 2;
    grid-template-areas:
        "title tech-stack"
        "subtitle ."
        "description description"
        "link link";
    grid-template-columns: subgrid;
    grid-template-rows: auto auto auto auto;

    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
        grid-area: title;
        font-size: 1.75rem;
        color: var(--primary-color);
        opacity: 0.75;
        width: fit-content;
        margin-bottom: var(--gap2x);

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            user-select: auto;
        }
    }

    h4 {
        grid-area: subtitle;
        font-size: 1.25rem;
        opacity: 0.75;
        padding-left: 16px;
    }

    h3, h4 {
        margin: 0;
    }

    p {
        margin: 0;
        grid-area: description;
        line-height: 1.6;
    }

    ul.tech-stack {

        display: flex;
        flex-direction: row;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;
        align-self: flex-end;
        align-content: flex-end;
        vertical-align: middle;
        li {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 0.9rem;
            color: var(--text-color-dark);
        }
        
    }
    

    a.link {
        grid-area: links;
        display: flex;
        gap: 8px;
        color: var(--primary-color);
    }

    border-top: 1px solid var(--background-color-darker);
}



.contact-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-links li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-color);
    text-decoration: none;
}

.contact-links li a:hover {
    text-decoration: underline;
}

.locale-button {
    height: 1.5rem;
    border-radius: 6.25%;
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
        transition: all 0.2s;
        transform: sceal(1.1);
    }

    &:active {
        filter: brightness(0.6);
        transition: all 0.2s;
        transform: scale(0.9);
    }
}

::-webkit-scrollbar {
    appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color-darker);
    border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--background-color-darker);
    border-radius: 6px;
}

* {
    scrollbar-gutter: stable both-edges;
}
